body {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

#root {
  width: 100%;
  min-height: 100vh;
}

.my-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

.toast-container {
  z-index: 99;
}

.accordion-button {
  background-color: #18151f;
  color: #ffffff;
}

.accordion-button::after {
  display: none;
}

.accordion-button:not(.collapsed) {
  background-color: #18151f;
  color: lightgray;
}

.me {
  max-width: 125px;
}

.external-link-icon {
  margin-top: -2px;
}

/* Browse Cards  */

.product {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
	background-color: #18151f;
}

.product	h1 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.product .product-img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.product .product-content {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.product .product-content .product-title {
  font-size: 1.75rem;
}

.product .product-content .product-title .badge-sale {
  font-size: .75rem;
  position: relative;
  top: -8px;
}

.product .product-divider {
  border-top: 1px solid;
  width: 50px;
  transition: width 0.3s;
}

.product .product-content .product-preview-txt {
  text-overflow: ellipsis;
  text-align: left;
  height: 100%;
  max-height: 250px;
  margin-left: -20px;
  padding-left: 20px;
}

.product .product-content .product-description-arrows {
  margin-top: -6px;
  height: 100%;
  justify-content: center;
}

.product .product-content .product-description {
  overflow: scroll;
  height: 100%;
  max-height: 250px;
}

.product .product-content .product-description p {
  outline: 0;
}

.product .product-content .product-preview-txt-no-height {
  max-height: none;
}

.product .product-content .product-tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
  margin: 20px 0 0 0;
	padding: 0;
}

.product .product-content .product-tagbox .product-tag-item {
  display: flex;
  align-items: flex-end;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 3.5px 10px;
  margin: 0 8px 8px 0;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
  border: none;
  color: #ffffff;
}

.product .product-content .product-tagbox button.product-tag-item {
	cursor: pointer;
}

.product .product-content .product-tagbox .product-tag-item:hover {
  background: rgba(83, 83, 83, 0.8);
}

.product::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

@media screen and (min-width: 769px) {
  .product {
    flex-wrap: inherit;
  }

  .product .product-img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
    object-fit: none;
  }

  .product:hover .product-img {
    transform: scale(1.1);
  }

  .product:hover .product-divider {
    width: 100px;
  }

  .product .product-content {
    padding: 3rem;
    width: 100%;
  }

  .product .product-content::before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 60px;
  }

  .product .product-content .product-title {
    font-size: 2rem;
  }

  .product .product-content .product-tagbox {
    justify-content: start;
  }

  .product:nth-child(2n+1) {
    flex-direction: row;
  }

  .product:nth-child(2n+0) {
    flex-direction: row-reverse;
  }

  .product:nth-child(2n+1) .product-content::before {
    left: -20px !important;
  }

  .product:nth-child(2n+0) .product-content::before {
    right: -20px !important;
  }
}

@media screen and (min-width: 1024px){
	.product .product-content {
    padding: 2rem 3.5rem;
  }

	.product .product-content::before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 60px;
  }

  .product:nth-child(2n+1) .product-content::before {
    transform: rotate(4deg);
  }

  .product:nth-child(2n+0) .product-content::before {
    transform: rotate(-4deg);
  }
}

.product.green .product-divider {
	border-top-color: #79dd09;
}

.product.green::before {
	background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.product.green:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.product.blue .product-divider {
	border-top-color: #0076bd;
}

.product.blue::before {
	background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.product.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.product.red .product-divider {
	border-top-color: #bd150b;
}

.product.red::before {
	background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.product.red:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.product.yellow .product-divider {
	border-top-color: #bdbb49;
}

.product.yellow::before {
	background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.product.yellow:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
	.product.green::before {
		background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
	}

	.product.green:nth-child(2n)::before {
		background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
	}

	.product.blue::before {
		background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
	}

	.product.blue:nth-child(2n)::before {
		background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
	}

	.product.red::before {
		background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
	}

	.product.red:nth-child(2n)::before {
		background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
	}

	.product.yellow::before {
		background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
	}

	.product.yellow:nth-child(2n)::before {
		background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
	}

}

@media(max-width:767px) {
  .product-divider {
    display: none;
  }

  .product-description-truncated {
    display: none;
  }

  .product-description {
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    margin-top: 10px;
    padding-top: 10px;
  }
}

/* Shopping Cart */

.shopping-cart {
  margin: auto;
  height: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: .25rem;
  border: transparent;
}

@media (max-width: 767px) {
  .shopping-cart {
      margin: 3vh auto
  }
}

.shopping-cart .sale-badge-pill {
  font-size: 10px;
  position: relative;
  top: -2px;
  padding-top: 5px;
}

.shopping-cart .cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem
}

@media(max-width:767px) {
  .shopping-cart .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: .25rem
  }
}

.shopping-cart .summary {
  background-color: #ddd;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

@media(max-width:767px) {
  .shopping-cart .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: .25rem
  }
}
